@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Ruthie);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #393b41;
	color: #ecf0f1;
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
}

a {
	color: #95a5a6;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #fff;
}

section {
	padding: 4em 2em;
	text-align: center;
}

section h2 {
	font-weight: 300;
	font-size: 2em;
}

section h4 {
	font-weight: 300;
	font-size: 1.2em;
}

section p {
	font-weight: 200;
	font-size: .9em;
}

#logo h1, #logo small {
	margin:0px;
	display:block;
	text-indent:-9999px;
}

#logo {
	background-image:url(../images/gauthier-logo.png);
	background-repeat:no-repeat;
	width:411px;
	height:87px;
	position:relative;
	margin: 0 auto;
}

#logo a {
	display:block;
	position:absolute;
	width:411px;
	height:87px;
	z-index:100;
	outline:none;
}

@media only screen and (max-width: 470px) {
#logo, #logo a {
	width:95%;
	background-size: 100%;
}
img {
    max-width:100%;
}
}
@media only screen and (max-width: 360px) {
section {
	padding: 4em 0em 4em 0em;
}
}
