body {
	margin:0;
	background-repeat:repeat-x;
	background-color:#000;
}

#main {
	background:url(flyer.jpg) no-repeat;
	background-position:top center;
	height:1103px;
}

#main h1, #main small {
	margin:0px;
	display:block;
	text-indent:-9999px;
}

.container {
	width:750px;
	margin:0 auto;
  	position:relative;
	border:0px solid red;
}